<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Game Title: <%= title %></h1>
         <% if(title == 'FortNite'){ %>
            <p>This is the life,
            I am the best ever</p>
        <% }else{ %>
            <p>we dont know what this game is</p>
       <% } %>
        <h2>Game Creator: <%=author %></h2>
    
    </body>
</html>